/*  start global value */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --main-color:#2196f3;
    --main-trasition: .3s;
    --main-padding:100px;
    --main-bacground-color:#ececec;

}

ul{
    list-style: none;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

html{
    scroll-behavior: smooth;
}

/* small */

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/* meduim */

@media (min-width: 992px){
    .container{
        width: 950px;
    }
}

/* large */

@media (min-width: 1200px){
    .container{
        width:1170px;
    }
}

/*  end global value */

/* start main header */

.main-head{
    width: fit-content;
    margin: auto;
    border: 2px solid;
    position: relative;
    z-index: 10;
    margin-bottom: 80px;
}
.main-head h3{
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.main-head::before ,
.main-head::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
}
.main-head::before{
    top: 50%;
    transform: translateY(-50%);

}

.main-head::after{
    bottom: 50%;
    transform: translatey(50%);

}
.main-head::before{
    left: -20px;
}
.main-head::after{
    right: -20px;
}

.main-head:hover{
    transition-delay: 1s;
    transition-duration: .5s;
    color: white;
    border-color:white ;
}

.main-head:hover::before{
    animation: head-move-l 2s forwards ;
}

.main-head:hover::after{
    animation: head-move-r 2s forwards;
}

@keyframes head-move-l {
    0%{
        left: -20px;
    }
    20%{
        top: -30px;
    }
    50%{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    100%{
        top: 0;
        left: 50%;
        transform: translate(-50% );
        width: 100%;
        height: 50%;
        border-radius: 0;
    }
}

@keyframes head-move-r {
    0%{
        right: -20px;
    }
    20%{
        bottom: -30px;
    }
    50%{
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }
    100%{
        bottom: 0;
        right:50%;
        transform: translate(50% );
        width: 100%;
        height: 50%;
        border-radius: 0;
    }
}
/* end main header */

/* ================================================================================================= */

/* start header section */

header{
    box-shadow: 0 0 10px 10px #eee;
}

 header .container {
    position: relative;
}

header .container .nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header .container .nav .logo{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container .nav .logo img{
    width: 50px;
}

header .container .nav .links{
    display: flex;
    list-style: none;
}

@media (max-width:767px) {
    header .container .nav .logo{
        width: 100%;
    }
    
}

header .container .nav .links > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 0px 30px;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}

@media (max-width:767px) {
    header .container .nav .links {
        margin: auto;
    }
    header .container .nav .links > li > a{
        height: 40px;
    }
    header .container .nav .links >li > a{
       padding: 0px 15px;
    }
}


header .container .nav .links > li > a::before{
    content: "";
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-color:#f7f7f7;
    border-top: 4px solid var(--main-color);
    top: 0px;
    left: -100%;
    transition: var(--main-trasition);
}

header .container .nav .links  li  a:hover::before{
    left: 0%;
}

header .container .nav .links .last-link .menu{
    display: flex;
    position: absolute;
    top:calc(100% + 100px);
    opacity: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    gap: 40px;
    background-color: white;
    padding: 20px;
    border-bottom: 4px solid var(--main-color);
    transition: var(--main-trasition);
}

header .container .nav .links .last-link:hover .menu{
    left: 0;
    opacity: 1;
    top: calc(100% + 5px);
    z-index: 10;
}

header .container .nav .links  .menu li:not(:last-child){
    border-bottom: 3px solid #f7f7f7;
} 

header .container .nav .links .menu  ul  li  a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--main-color);
}

header .container .nav .links .menu img{
    max-width: 100%;
}

@media (min-width:768px) and (max-width:991px) {
    header .container .nav .links .menu img{
        display: none;
    }
    header .container .nav .links .menu {
        display: flex;
        justify-content: center;
        border: none;
        border-radius: 10px;
    }
    header .container .nav .links .menu  .menu-links{
        flex-basis: 30%;
    }
}

@media (max-width:767px) {
    header .container .nav .links .menu img{
        display: none;
    }
    header .container .nav .links .last-link .menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0;
        top: calc(100% + 1px);
    }
    header .container .nav .links  .last-link .menu div:nth-of-type(2)  li:last-child{
    border-bottom: 3px solid #f7f7f7;
    }
    header .container .nav .links .menu  ul  li  a{
        padding: 10px;
    }
}

header .container .nav .links .menu  ul  li {
    position: relative;
}

header .container .nav .links .menu  ul{
    min-width: 200px;
}

header .container .nav .links .menu  ul  li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #f7f7f7;
    border-top: 4px solid var(--main-color);
    z-index: -1;
    transition: var(--main-trasition);
}

header .container .nav .links .menu  ul  li:hover::before{
    display: block;
    width: 100%;
}


header .container .nav .links .menu  ul > li > a> i{
    margin-right: 15px;
}

/* end header section */

/* =============================================================================== */

/* start landing section  */

.header-section{
    position: relative;
    overflow: hidden;
}

.header-section::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #EEE;
    transform: skewy(-5deg);
    top: -120px;
}

.header-section .container{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding-bottom: 100px;
}

.header-section .container .text{
    flex: 1;
}


.header-section .container .text h2{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1px;
}

.header-section .container .text h2 span{
    color: var(--main-color);
}

.header-section .container .text p{
    
    font-size: 22px;
    padding-top: 20px;
    line-height: 2;
    color: #666;
    max-width: 500px;
}

.header-section img{
    width: 600px;
    position: relative;
    animation: ub-down 3s linear infinite alternate;
}

@media (max-width:991px) {
    .header-section img{
        display: none;
    }
    .header-section .container .text{
        text-align: center;
    }
    .header-section .container .text p{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
@keyframes ub-down {
    0% {
        top: 0;
    }
    50%{
        top: 30px;
    }
    100%{
        top: 0;
    }
}

.header-section .icon{
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    z-index: 100;
}

.header-section .icon i{
    position: relative;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 900;
    animation: arrow 2s linear infinite alternate ;
}

@keyframes arrow {
    0%,10%,20%,50%,80% ,100%{
        bottom: 0px;
    }
    40% , 60% {
        bottom: 5px;
    }
}

@media (max-width:767px) {
    .header-section .container{
        height: calc(100vh - 112px);
    }
}

/* end landing section  */

/* ============================================================================ */

/* start Articles section   */

.articles{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}


.articles .container .article-content{
    padding-top: 50px;
}

.articles .container .article-content .card{
    max-width: 100%;
    margin-right:auto ;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
    transition: .5s;
}

.articles .container .article-content .card:hover{
    animation: card-move 1s linear infinite alternate;
}

@keyframes card-move {
    to{
        transform: translatey(-10px);
    }
}

.articles .container .article-content  .card .tex{
    padding: 15px;
}
.articles .container .article-content .card img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.articles .container .article-content .card h3{
    font-size: 20px;
    font-weight: 700;
}
.articles .container .article-content .card p{
    font-size:16px ;
    color: #777;
    margin-top: 10px;
}

.articles .container .article-content .card hr{
    margin-top: 10px;
    color: #777;
}

.articles .container .article-content .card a{
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.articles .container .article-content .card  i{
    position: absolute;
    font-size: 20px;
    color: var(--main-color);
    margin-top:15px ;
    right: 15px;animation: arow-move 2s linear infinite alternate;

}

@keyframes arow-move {
    0%,10%,20%,50%,80% ,100%{
        right: 15px;
    }
    40% , 60% {
        right: 10px;
    }
}

@media (min-width:600px) and (max-width:991px) {
    .articles .container .article-content{
        display: flex;
        flex-wrap: wrap;
    }
    .articles .container .article-content .card{
        flex-basis: 47%;
    }
    .articles .container .article-content .card:nth-child(odd){
        gap: 2%;
    }
}

@media (min-width:992px) {
    .articles .container .article-content{
        display: flex;
        flex-wrap: wrap;
    }
    .articles .container .article-content .card{
        flex-basis: 31%;
    }
    .articles .container .article-content .card:nth-child(odd){
        gap: 2%;

    }
}

@media (min-width:1200px) {
    .articles .container .article-content{
        display: flex;
        flex-wrap: wrap;
    }
    .articles .container .article-content .card{
        flex-basis: 22%;
    }
    .articles .container .article-content .card:nth-child(odd){
        gap: 3%;

    }
}

/* end Articles section   */

/* ================================================================================================================= */

/* start Gallery section */

.gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-bacground-color);
    z-index: -10;
}

.gallery .container .gallery-content{
    margin-top: 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 50px;
}

.gallery .container .all{
    padding: 15px;
    background-color: white;
    overflow: hidden;
    height: 260px;
}

.gallery .container .all .image{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.gallery .container .image::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    background-color: rgba(255 255 255 / 20%);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
    transition:var(--main-trasition);
}

.gallery .container .image:hover::before{
    animation: image-move .7s ;
    z-index: 10;
}

@keyframes image-move {
    0% , 50%{
        opacity: 1;
    }
    100%{
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.gallery .container .all .image img{
    max-width: 100%;
    height: 100%;
    transition: var(--main-trasition);
}

.gallery .container .all .image:hover img{
    transform:  rotate(5deg) scale(1.2);
}

/* end Gallery section */

/* ========================================================================================================================= */

/* start features setion */

.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.features-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    gap: 30px;
    margin-top: 50px;
}

.features .features-content .card{
    position: relative;
    border: 1px solid #777;
    overflow: hidden;
    border-radius: 10px;
}

.features .features-content .card img{
    max-width: 100%;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.features .features-content .card .image{
    position: relative;
}

.features .features-content .card .image::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.features .features-content .card-one .image::before{
    background-color: rgb(255 0 0 / 60%);
}
.features .features-content .card-two .image::before{
    background-color: rgb(0 128 0 / 60%);
}
.features .features-content .card-three .image::before{
    background-color:rgb(3 169 244 / 60%) ;
}

.features .features-content .card .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style:solid ;
    border-color:transparent transparent white transparent  ;
    border-width: 0px 0px 80px 500px;
    transition: var(--main-trasition);
}

.features .features-content .card:hover .image::after{
    border-width: 0px 500px 80px 0px;
}

.features .features-content .card .text{
    text-align: center;
}

.features .features-content .card .text h3{
    font-size:40px ;
    padding: 30px 0;
    position: relative;
}

.features .features-content .card .text h3::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 3px;
    background-color: black;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
}

.features .features-content .card-one .text h3::before{
    background-color: red;
}
.features .features-content .card-two .text h3::before{
    width: 50px;
    background-color: green;
}
.features .features-content .card-three .text h3::before{
    background-color: rgb(3, 169, 244);
}

.features .features-content .card .text p{
    font-size: 20px;
    color: #777;
    margin: 30px 0 40px 0;
}

.features .features-content .card .text a{
    text-decoration: none;
    display: block;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    margin: 40px 0;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

.features .features-content .card .text a::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    z-index: -10;
    opacity: 0;
    transition: var(--main-trasition);
}

.features .features-content .card-one .text a::before{
    background-color: red;
}

.features .features-content .card-two .text a::before{
    background-color: green;
}

.features .features-content .card-three .text a::before{
    background-color: rgb(3, 169, 244);
}

.features .features-content .card:hover .text a::before{
    opacity: 1;
    width: 100%;
    border-radius: 5px;
}

.features .features-content .card:hover .text a{
    color: white;
    border-radius: 0;
    border: none;
}

.features .features-content .card-one .text a{
    color: red;
    border: 2px solid red;
    border-radius: 5px;
}

.features .features-content .card-two .text a{
    color: green;
    border: 2px solid green;
    border-radius: 5px;
}
.features .features-content .card-three .text a{
    color: rgb(3, 169, 244);
    border: 2px solid rgb(3, 169, 244);
    border-radius: 5px;
}

/* end features setion */

/* =========================================================================================================== */

/* start Testimonials section */

.Testimonials{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-bacground-color);
}

.Testimonials .Testimonials-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 80px;
}

.Testimonials .Testimonials-content .testcard{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    position: relative;
}

.Testimonials .Testimonials-content .testcard .image {
    padding: 6px;
    background-color: var(--main-bacground-color);
    position: absolute;
    top: -25%;
    right: -15px;
    border-radius: 50%;
}

.Testimonials .Testimonials-content .testcard .image img{
    width: 70px;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 5px;
}

.Testimonials .Testimonials-content .testcard  h2{
    font-size: 21px;
    margin: 0 0 10px 0;
}

.Testimonials .Testimonials-content .testcard:hover h2{
    animation: test-move 1s linear infinite alternate;
}

.Testimonials .Testimonials-content .testcard p:first-of-type{
    color: #777;
    margin: 0 0 10px 0;
}
.Testimonials .Testimonials-content .testcard .icon{
    margin: 0 0 10px 0;
}

.Testimonials .Testimonials-content .testcard .icon i:not([class *= regular]){
    color: gold;
}

.Testimonials .Testimonials-content .testcard p:last-of-type{
    color: #777;
    max-width: 300px;
}

@keyframes test-move {
    to{
        transform: translateY(-5px);
    }
}

/* end Testimonials section */

/* ===================================================================================================== */

/* start team members section */

.Team-Members{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.Team-Members .container .team-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}

.Team-Members .container .team-content .team-card{
    padding: 15px;
    position: relative;
}

.Team-Members .container .team-content .team-card::before{
    content: "";
    width: 82%;
    height: 100%;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    border-radius: 15px;
}

.Team-Members .container .team-content .team-card::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: rgb(228, 228, 228);
    top: 0;
    right: 0;
    z-index: -10;
    transition: var(--main-trasition);
    border-radius: 15px;
}

.Team-Members .container .team-content .team-card:hover::after{
    width: 82%;
}

.Team-Members .container .team-content .team-card .image-icon{
    gap: 20px;
    display: flex;
    position: relative;
}

.Team-Members .container .team-content .team-card .image-icon .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Team-Members .container .team-content .team-card .image-icon .icon i:not(:last-child){
    margin-bottom: 30px;
}

.Team-Members .container .team-content .team-card .image-icon .icon i{
    color: #777;
}

.Team-Members .container .team-content .team-card .image-icon img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    transition: var(--main-trasition);
    position: relative;
    right: -50px;
    transition: var(--main-trasition);
}

.Team-Members .container .team-content .team-card:hover img{
    filter: grayscale(100%);
    right: 0;
}

.Team-Members .container .team-content .team-card .text{
    padding-left: 90px ;
    margin: 30px 0 0 0;
}

.Team-Members .container .team-content .team-card .text h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
}

.Team-Members .container .team-content .team-card .text p{
    margin: 10px 0 10px 0;
}

/* end team members section */

/* ======================================================================================================= */

/* start Services section */


.Services{
    padding-top:var(--main-padding) ;
    padding-bottom: var(--main-padding);
    background-color: var(--main-bacground-color);
}

.Services .container .Services-content{
    display: grid;
    grid-template-columns:repeat(auto-fill ,minmax(300px , 1fr) ) ;
    gap: 20px;
}

.Services .container .Services-content .Services-card{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    counter-increment: section;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 5px #d5d5d5;
    transition: var(--main-trasition);
}

.Services .container .Services-content .Services-card:hover{
    animation: card-move .8s linear infinite alternate ;
}

@keyframes card-move {
    to{
        transform: translateY(-5px);
    }
}

.Services .container .Services-content .Services-card::before{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background-color: var(--main-color);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-trasition);
}

.Services .container .Services-content .Services-card:hover::before{
    width: 100%;
}

.Services .container .Services-content .Services-card i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d5d5d5;
}

.Services .container .Services-content .Services-card h3{
    font-size: 20px;
    color: var(--main-color);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.Services .container .Services-content .Services-card  .text{
    position: relative;
    padding-bottom: 20px;
    margin: 0;
}

.Services .container .Services-content .Services-card  .text::before{
    content: counter(section);
    width: 60px;
    height: 40px;
    background-color: var(--main-color);
    position: absolute;
    left: -15px;
    bottom: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    padding-right: 10px;
}

.Services .container .Services-content .Services-card  .text::after{
    content: "";
    width: 50px;
    height: 40px;
    position: absolute;
    background-color: #d5d5d5;
    left: 40px ;
    bottom: -15px;
    transform: skewX(-30deg);
}

.Services .container .Services-content .Services-card .text a{
    position: absolute;
    display: block;
    right: 10px;
    text-decoration: none;
    color: var(--main-color);
}

/* end Services section */

/* ====================================================================================================== */

/* start Skills section */

.Skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.Skills .container .skills-content{
    display: flex;
    gap: 15%;
}

.Skills .container .skills-content .image img{
    width: 400px;
    border-radius: 10px;
    position: relative;
    left:20%;
}

@media (max-width:992px) {
    .Skills .container .skills-content .image img{
        display: none;
    }
}

.Skills .container .skills-content .stats {
    position: relative;
    width: 100%;
}

.Skills .container .skills-content .stats .stat-all .prog{
    width: 90%;
    height: 30px;
    background-color: #EEE;
    margin: 20px 0;
    position: relative;
}

.Skills .container .skills-content .stats .stat-all .prog span{
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}

.Skills .container .skills-content .stats .stat-all .prog span::before{
    content: attr(data-width);
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid var(--main-bacground-color);
    border-radius: 5px;
    color: var(--main-color);
    font-weight: 700;
    position: absolute;
    top: -50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

/* end Skills section */

/* ============================================================================================= */

/* start work section  */

.work{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-bacground-color);
}

.work .container .work-content{
    display: flex;
    gap: 10%;
}

.work .container .work-content .image{
    width: 500px;
    display: flex;
    align-items: center;
}

.work .container .work-content img{
    width: 500px;
    border-radius: 20px;
}

@media (max-width:992px) {
    .work .container .work-content .image{
        display: none;
    }
    .work .container .work-content .work-detail{
        margin-left:auto ;
        margin-right: auto;
    }
}

.work .container img{
    transition: var(--main-trasition);
}
.work .container img:hover{
    filter: grayscale(100%);
}

.work .container .work-content .work-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work .container .work-content .work-detail .card{
    display: flex;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    z-index: 10;
}

.work .container .work-content .work-detail .card::before{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    background-color: var(--main-bacground-color);
    top: 0;
    left: 0;
    transition: var(--main-trasition);
}

.work .container .work-content .work-detail .card:hover::before{
    width: 100%;
    z-index: -10;
    border: 2px solid white;
    border-radius: 15px;
}

.work .container .work-content .work-detail .card:hover .text p {
    color: black;
}

.work .container .work-content .work-detail .card:not(:last-child){
    margin-bottom: 40px;
}

.work .container .work-content .work-detail .card img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.work .container .work-content .work-detail .card .text{
    margin-left: 30px;
}

.work .container .work-content .work-detail .card .text h3{
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
}

.work .container .work-content .work-detail .card .text p{
    max-width: 350px;
    color: #777;
    font-size: 16px;
    line-height: 1.3;
    transition: var(--main-trasition);
}

.work .container .button{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .container .button a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 800;
    background-color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    transition: var(--main-trasition);
}

.work .container .button a:hover{
    color: white;
    background-color: var(--main-color);
    border-color:white ;
}
/* end work section  */

/* ============================================================================================================== */

/* start Events section */

.event{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.event .container{
    display: flex;
    flex-wrap: wrap;
}

.event .container img{
    max-width: 400px;
    border-radius: 10px;
}


.event .container .data-title{
    flex: 1;
    margin-left: 50px;
}

@media (max-width:992px) {
    .event .container{
        display: block;
    }
    .event .container img{
        display: none;
    }
    .event .container .data-title{
        margin-left: 0px;
    }
}
.event .container .data-title .time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}

.event .container .data-title .card{
    border: 1px solid #777;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    min-width: 70px;
    transition: var(--main-trasition);
}

.event .container .data-title .card span{
    display: block;
}

.event .container .data-title .card span:first-child{
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);margin-bottom: 20px;
}

.event .container .data-title .card span:last-child{
    color: #777;
    border-top: 1px solid;
    padding: 5px;
    transition: var(--main-trasition);
}

.event .container .data-title .card:hover{
    border-color: var(--main-color);
} 

.event .container .data-title .card:hover span:last-child{
    border-color: var(--main-color);
} 

.event .container .data-title  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.event .container .data-title  .title h3{
    font-size: 28px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.event .container .data-title  .title p{
    max-width: 80%;
    color: #555;
    line-height: 1.5;
    text-align: center;
}

.event .container .form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.event .container .form form{
    padding: 15px;
    background-color: var(--main-bacground-color);
    border-radius: 25px;
}

.event .container .form form .email{
    outline: none;
    border: none;
    width: 260px;
    height: 50px;
    border-radius: 25px;
    text-indent: 10px;
    caret-color: var(--main-color)
}

.event .container .form form .email::placeholder{
    color: var(--main-color);
}

.event .container .form form .button{
    outline: none;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
}

@media (max-width:768px) {
    .event .container .form form{
        padding: 10px;
    }
    .event .container .form form .email{
        width: 220px;
    }
    .event .container .form form .button{
        width: 80px;
        font-size: 15px;
        border-radius: 20px;
    }
}

/* end Events section */

/* ============================================================================================== */

/* start Pricing section */

.Pricing{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-bacground-color);
}

.Pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}

.Pricing .container .card{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    margin-top: 50px;
}

.Pricing .container .advanced-card {
    margin-top: 10px;
    margin-bottom: 30px;
}

@media (max-width:992px) {
    .Pricing .container .card{
        margin-top: 20px;
    }
    .Pricing .container .advanced-card {
        margin-top: 20px;
        margin-bottom: initial;
    }
}

.Pricing .container .card h2{
    margin: 10px 0 30px;
}

.Pricing .container .card img{
    width: 70px;
}

.Pricing .container .card span{
    display: block;
}

.Pricing .container .card .price{
    margin-top: 35px;
    padding-bottom: 20px;
}

.Pricing .container .card .price span:first-child{
    font-size: 35px;
    color: var(--main-color);
    font-weight: 900;
}

.Pricing .container .card .price span:last-child{
    margin-top: 10px;
    color: #777;
}

.Pricing .container .card .detail{
    text-align: left;
}

.Pricing .container .card .detail p {
    padding: 20px 10px;
    border-top: 1px solid;
    border-color: var(--main-bacground-color);
}
.Pricing .container .card .detail p i {
    color: var(--main-color);
    margin-right: 10px;
}

.Pricing .container .card .button{
    margin-top: 25px;
    margin-bottom: 20px;
}

.Pricing .container .card .button a{
    text-decoration: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
    transition: var(--main-trasition);
}

.Pricing .container .card .button a:hover{
    background-color: var(--main-color);
    color: white;
}

.Pricing .container .advanced-card{
    position: relative;
}

.Pricing .container .advanced-card::before{
    content: "Most Popular";
    position: absolute;
    top: 0;
    right: 10px;
    background-color: var(--main-color);
    color: white;
    width: 130px;
    padding: 5px;
    transform: rotatez(90deg) translateX(58px) translateY(-40px);
    font-size: 20px;
    font-weight: 800;
    padding-right: 18px;
}

.Pricing .container .advanced-card::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 140px;
    right: 32px;
    transform: rotate(45deg);
}

/* end Pricing section */

/* ================================================================================================== */

/* start  Videos section */

.video{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.video .container {
    display: flex;
}

.video .container .text {
    border: 1px solid;
    border-color: #cccccc;
    min-width: 300px;
}

.video .container .text .title{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px 10px 20px;
    background-color: var(--main-bacground-color);
}

.video .container .text .title h3{
    font-size: 18px;
    font-weight: 700;
}

.video .container .text .title i {
    font-size: 16px;
    font-weight: 700;
}

.video .container .text .list ul li{
    padding: 10px;
    border-top: 1px solid #cccccc;
    transition: var(--main-trasition);
}

.video .container .text .list ul li:hover{
    background-color: var(--main-bacground-color);
    color: var(--main-color);
}

.video .container .text .list ul li span{
    display: block;
    margin: 10px 0;
    color: #777;
}

.video .container .image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--main-bacground-color);
}

.video .container .image img{
    width: 100%;
    /* height: 450px; */
    border-radius: 15px;
}

.video .container .image p{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width:992px) {
    .video .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .video .container .image img{
        width: 100%;
        margin-bottom: 40px;
    }
}


/* end  Videos section */

/* ========================================================================== */

/* start stats section */

.Awesome-stats{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/stats.avif);
    background-size: cover;
    position: relative;
    /* display: flex; */
}

.Awesome-stats::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(210 208 208 / 80%);
    /* z-index: -10; */
}

.Awesome-stats .title{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.Awesome-stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    text-align: center;
    margin-top: 50px;
    gap: 40px;
}

.Awesome-stats .container .box {
    background-color: white;
    padding: 10px;
    position: relative;
}

.Awesome-stats .container .box::before{
    content: "";
    width: 3px ;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transition: calc(var(--main-trasition) + .5s);
}

.Awesome-stats .container .box::after{
    content: "";
    width: 3px ;
    height: 0%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    transition: calc(var(--main-trasition) + .5s);
}

.Awesome-stats .container .box:hover::before ,
.Awesome-stats .container .box:hover::after{
    height: 100%;
}

.Awesome-stats .container .box i {
    display: block;
    margin: 10px 0px;
    font-size: 20px;
    color: var(--main-color);
}

.Awesome-stats .container .box  span{
    display: block;
} 

.Awesome-stats .container .box span:nth-child(2) {
    font-size: 30px;
    font-weight: 800;
    margin: 15px 0px;
}

.Awesome-stats .container .box  span:last-child{
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    font-style: italic;
}

/* end stats section */

/* ========================================================================================== */

/* start login page */

.login{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background: linear-gradient(to right, white 55%, var(--main-color));
    min-height: 100vh;
}

.login .container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    min-height: 70vh;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 0 0 10px 0px #999;
}

.login .container .part-one{
    flex-basis: 50%;
    padding: 10px;
    text-align: center;
}

.login .container .part-one h2{
    font-size: 35px;
    color: var(--main-color);
    font-weight: 800;
    margin: 15px 0 30px;
}

.login .container .part-one .icon {
    margin: 30px 0px ;
}

.login .container .part-one .icon i{
    border: 2px solid var(--main-bacground-color);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin: 0px 10px;
    cursor: pointer;
}

.login .container .part-one  span{
    display: block;
    font-size: 15px;
    color: #888;
    margin: 0 0 20px;
}

.login .container .part-one .sign-up{
    min-height: 30vh;
    display: flex;
    justify-content: center;
}
.login .container .part-one .sign-up form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.login .container .part-one .sign-up form input{
    outline: none;
    border: none;
    background-color: var(--main-bacground-color);
    margin: 0 0 20px;
    padding: 10px;
    border-radius: 15px;
}
.login .container .part-one .sign-up .button{
    width: 110px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.login .container .part-two{
    flex-basis: 50%;
    background-image: url(../images/login1.webp);
    background-size: cover;
    padding: 15px ;
    width: 100%;
    border-radius: 20px;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: image-move 10s linear infinite;
}

@keyframes image-move {
    0% , 100%{
        background-image: url(../images/login1.webp);
    }
    50%{
        background-image: url(../images/login2.webp);
        background-size: cover;
    }
}

.login .container .part-two::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(33 150 243 / 70%);
    border-radius: 20px;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    z-index: -1;
}


.login .container .part-two h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    letter-spacing: 2.3px;
    margin-bottom: 20px;
}

.login .container .part-two p{
    text-align: center;
    color: rgb(255 255 255 / 60%);
}

@media (max-width:992px) {
    .login .container {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .login .container .part-one{
        flex-basis: 100%;
    }
    .login .container .part-two{
        flex-basis: 60%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0px;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
    }
    .login .container .part-two h2{
        font-size: 18px;
        margin-bottom: 10px ;
    }
    .login .container .part-two p{
        font-size: 13px;
    }
    .login .container .part-two::before{
        border-radius: 0px;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
    }
}

@media (max-width:500px) {
    .login .container .part-one .sign-up form {
        width: 100%;
    }
}

/* end login page */

/* =================================================================================================== */

/* start footer section */

footer{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #333;
    color: white;
    position: relative;
}

footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    gap: 3%;
}

footer .container .box{
    padding: 10px;
    text-align: center;
}

footer .container .box:first-child{
    position: relative;
}

footer .container .box:first-child h3{
    font-size: 25px;
    margin: 10px 0 30px;
}

footer .container .box:first-child .icon{
    margin-bottom: 30px;
}

footer .container .box:first-child .icon i{
    padding: 5px;
    background-color: var(--main-bacground-color);
    border-radius: 10px;
    color: var(--main-color);
}

footer .container .box:first-child .text{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60%;
    color: rgb(255 255 255 / 50%);
}

footer .container .box:nth-child(2){
    position: relative;
    text-align: start;
}

footer .container .box:nth-child(2) ul{
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer .container .box:nth-child(2) ul li:not(:last-child){
    padding: 0 0 13px;
    margin-bottom: 13px;
    border-bottom: 2px solid rgb(255 255 255 / 50%);
}

footer .container .box:nth-child(2) ul li a{
    text-decoration: none;
    color: white;
    transition: var(--main-trasition);
    display: block;
}

footer .container .box:nth-child(2) ul li{
    transition: var(--main-trasition);
    position: relative;
}

footer .container .box:nth-child(2) ul li a:hover{
    transform: translateX(15px);
}

footer .container .box:nth-child(2) ul li a i {
    margin-right: 10px;
    color: var(--main-color);
}

footer .container .box:nth-child(3){
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .container .box:nth-child(3) .details{
    display: flex;
    height: 60px;
}
footer .container .box:nth-child(3) i{
    font-size: 20px;
    margin-right: 10px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container .box:nth-child(3) p{
    font-size: 18px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    footer .container .box:nth-child(3) .details{
        display: block;
    }
    footer .container .box:nth-child(3) i{
        padding: 5px 0px;
    }
}

footer .container .box:nth-child(4){
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(80px ,1fr));
    gap: 10px;
}
footer .container .box .image img{
    width: 100%;
    height: 100%;
}

@media (max-width:767px) {
    footer .container .box{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    footer .container .box ul{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    footer .container{
        margin-bottom: 30px;
    }
}

footer .foot{
    position: absolute;
    bottom: 0px;
    height: 60px;
    background-color: #333;
    width: 100%;
    border-top: 2px solid #777;
}

footer .foot p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .foot p span {
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
    margin: 0 5px;
}

/* end footer section */

/* ==================================================================================================== */

/* DONE */
